@charset "UTF-8";

code .keyword{
	color			: #0000ff;
}
code .string, code .quote{
	color			: #800000;
}
code .comment{
	color			: #008000;
}

code, kbd{
	font-family		: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code.inline{
	background-color	: RGBA(128, 128, 128, 0.25);
	border-radius		: 4px;
	padding-left		: 4px;
	padding-right		: 4px;
}

