@charset "UTF-8";
@import url("code.css");

body{
	margin			: 0px;
	padding			: 0px;
	color			: #000000;
}
body.dark{
	color			: silver;
	background-color	: #101010;
}

h1, h2{
	font-weight		: normal;
}

h1{
	margin			: 0px;
	padding			: 4px 8px;
	color			: #002C3C;
	border-bottom		: 1px solid #00AEEF;
	background-color	: RGBA(0, 174, 239, 0.25);
}
.dark h1, .dark h1 a{
	color			: #BFEAFB;
}
h2{
	padding-left		: 8px;
	border-bottom		: 1px solid #00AEEF;
}
h3{
	padding-left		: 16px;
	border-bottom		: 1px solid RGBA(0, 174, 239, 0.50);
}
h4{
	padding-left		: 24px;
	font-weight		: bold;
}
h5{
	padding-left		: 28px;
}
h6{
	padding-left		: 32px;
}

footer{
	display			: block;
	margin			: 64px 0px 0px 0px;
	padding			: 8px;
	border-top		: 1px solid RGBA(0, 0, 0, 0.25);
	background-color	: RGBA(0, 0, 0, 0.125);
}
.dark footer{
	border-color		: RGBA(255, 255, 255, 0.25);
	background-color	: RGBA(255, 255, 255, 0.125);
}

footer .author{
	text-align		: center;
}


p{
	margin-left		: 32px;
	line-height		: 1.5em;
}
.large{
	font-size		: 120%;
}
.small{
	font-size		: 80%;
}
.dark a{
	color			: #3FC2F3;
}

img{
	display			: block;
	margin			: 8px auto;
}

pre{
	margin			: 8px 32px;
	padding			: 2px 4px;
	border			: 1px solid RGBA(0, 0, 0, 0.25);
}

table{
	display			: block;
	margin			: 12px 32px;

	border-collapse		: collapse;
}
tr:hover{
	background-color	: RGBA(0, 174, 239, 0.1);
}
thead td, tr.head td, th{
	border			: solid 1px #bbbbbb;
	background-color	: RGBA(0, 0, 0, 0.1);
	font-weight		: bold;
	text-align		: center;
}
.dark thead td, .dark tr.head td, .dark th{
	border-color		: #555555;
	background-color	: RGBA(255, 255, 255, 0.1);
}
td{
	border			: solid 1px #cccccc;
}
.dark td{
	border-color		: #444444;
}
td, th{
	padding			: 2px 8px;
}
td.center{
	text-align		: center;
}
dl{
	margin-left		: 16px;
}
dt{
	float			: left;
	clear			: left;
	display			: list-item;
	margin-left		: 24px;
	min-width		: 128px;
}
dd:before{
	content			: ": ";
}

header{
	text-align		: center;
}
header a:link{
	color			: #002C3C;
	text-decoration		: none;
}
header a:hover{
	opacity			: 0.75;
	text-decoration		: underline;
}
.dark header a:link{
	color			: #BFEAFB;
}

.dark textarea{
	background-color	: RGBA(255, 255, 255, 0.1);
	color			: silver;
}

.jokeDel{
	text-decoration		: line-through;
}


